<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>index</title>
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <style>

  </style>
</head>

<body>
  <div class="left-menu" th:replace="fragments/commen :: commenFragment">
  </div>
  <div class="index">
    <div class="index-con">
      <div class="sec-con">
        <video autoplay loop muted>
          <source th:src="@{/video/model.mp4}" type="video/mp4" />
        </video>
        <div class="center-con">
          <h1>
            MSHOP Timecapsule <br /> Drop #24
          </h1>
          <h3>단24시간</h3>
          <span>구매하기</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>